h2 {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: x-large;
  font-weight: 800;
}

h2:hover {
  color: aquamarine;
}

p {
  font-family: "IBM Plex Sans", sans-serif;
  margin-top: 8px;
  margin-bottom: 12px;
  font-size: large;
}

h3 {
  font-size: x-large;
  font-weight: 600;
}

ul {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: medium;
  margin-left: 32px;
  list-style: disc;
  margin-top: 8px;
  margin-bottom: 8px;
}

li {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: large;
  margin-left: 32px;
  list-style: disc;
  margin-top: 8px;
  margin-bottom: 8px;
}

em {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: medium;
}
blockquote {
  margin-left: 12px;
}

blockquote:hover {
  color: aquamarine;
}

code {
  font-family: "Roboto Mono", monospace;
  color: white;
  font-size: small;
}


div#con a{
  text-decoration-line: underline;
  color: #31ce9f
}

div#con a:hover {
  color: hotpink;
}

div#con a:active {
  color: blue;
}

