h2 {
  color: white;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: x-large;
  font-weight: 800;
}

h2:hover {
  color: aquamarine;
}

p {
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
  margin-top: 8px;
  margin-bottom: 12px;
  font-size: medium;
}

h3 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: large;
  color: white;
  font-weight: 600;
}

ul {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: large;
  margin-left: 32px;
  list-style: disc;
  color: white;
  margin-top: 8px;
  margin-bottom: 8px;
}

li {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: large;
  margin-left: 32px;
  list-style: disc;
  color: white;
  margin-top: 8px;
  margin-bottom: 8px;
}

a {
  color: white;
}
a:hover {
  text-decoration: underline;
}

em {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: medium;
}
blockquote {
  margin-left: 12px;
}

blockquote:hover {
  color: aquamarine;
}
