.searchInputs {
  display: flex;
  color: rgb(255, 255, 255);
}

.search input {
  background-color: rgb(82, 82, 82);
  font-size: 30px;
  height: 60px;
  width: 100%;
  border-radius: 25px;
  text-indent: 20px;
}

input:focus {
  outline: black;
}

.dataResult::-webkit-scrollbar {
  display: block;
  color: rgb(255, 255, 255);
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 20px;
  color: #31ce9f;
}


.popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.workspace {
  overflow: auto;
  height: 80%;
  width: 50%;
}

.workspace::-webkit-scrollbar-track {
  background-color: transparent;
}
.workspace::-webkit-scrollbar {
  width: 20px;
}
.workspace::-webkit-scrollbar-thumb {
  background-color: rgba(183, 244, 216, 0.5);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
